*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c);
    background-size: 400%;
    animation: bganimation 15s infinite;
}
.header{
    margin-top: 10px;
    text-align: center;
}
.header span{
    font-size: 20px;
    font-weight: bold;
}
#start{
    margin-top: 20px;
}
.container{
    width: 400px;
    height: 400px;
    margin: 40px auto;
    background-color: white;
    border: 2px solid black;
    overflow: hidden;
}
#main{
    width: 100%;
    height: 400px;
    top: -100px;
    position: relative;
    border-collapse: collapse;
}
.row{
    width: 100%;
    height: 100px;
}
.cell{
    height: 100px;
    width: 100px;
    float: left;
}
.black{
    background-color: black;
}
#btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(94, 4, 59);
    line-height: 30px;
    color: white;
    margin-left: 40px;
}

@keyframes bganimation{
    0%{
        background-position: 0% 50% ;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position: 0% 50% ;
    }
}